.cards {
  // display: flex;
  // flex-direction: row;
  border: 2px solid rgb(244, 243, 250);
}

.card {
  border: 2px solid red;
  padding: 1em 1em;
  margin: 1em 1em;
  display: flex;
  flex-direction: row;

  &__imagediv {
    margin-right: 1em;
    width: 100%;
    max-width: 20em;
    border: 2px solid red;
  }

  &__datadiv {
    border: 2px solid red;
    width: 100%;
    margin-left: 0.75em;
  }

  &__datadiv > * + * {
    margin-top: 1em;
  }

  &__image {
    max-width: 100%;
  }
}
